
* {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}


.intro_img {
    background-image: url("press.jpeg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.a_word {
    color: white;
    font-size: 50px;
}

/*Navigation Section*/
.logo {
    padding: 20px;
}


.nav_list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
}

.nav_list_items  {
    padding: 10px;
    
}

.nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.3s ease;
}

a:hover,
a.active {
    color: #088178;
}

/*Image and a powerful word*/
.a_word_section{
    text-align: center;
    padding-top: 50px;
}

.a_word {
    font-size: 100px;
}

/*Links to websites and social media */
footer {
    text-align: center;
    padding: 80px;
}

.links {
    display : inline;
}

.social_media {
    margin: 20px;
}

/*School Blazers*/

.school_blazers {
    background-color: black;
    height: 500px;
}

/*Work with us Page */
.intro_img0 {
    background-image: url("hard_workers.jpeg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro_img1 {
    background-image: url("hands_sewing_closeup.png");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro_img2 {
    background-image: url("cultural_women.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.intro_img3 {
    background-image: url("tailors.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.main_container{
	width: 1200px;
	margin: 0 auto;
}

#contact-form{
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 5px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label{
	line-height: 2.7em;
}

#contact-form textarea{
	min-height: 100px;
	font-size: 14px;
}


.input-field{
	width: 100%;
	padding-top: 10px;
	padding-bottom:10px; 
	
	border-radius: 5px;
	border:1px solid black;
	font-size: 14px;
}


#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px; 
	border:none;
}

/*Responsiveness*/

@media screen and (max-width: 1200px){
	.main-container{
		width: 95%;
	}
}

@media screen and (max-width: 800px){
	.intro-wrapper{
		grid-template-columns: 1fr;
		grid-template-areas: 
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.right-column{
		justify-content: center;
	}

}

@media screen and (max-width: 400px){
	#preview-shadow{
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	#preview{
		width: 280px;

	}

}
/*Bebe Ravi Collection*/
.models {
	padding: 10px;
}
/*.showcase {
	display: flex;
}*/

/* Our Mission */
.intro_img4 {
	background-image: url("mission_possible.jpeg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mission {
	margin: 150px
}

.w_worker {
	padding: 30px;
    width: 300px;
    height: 400px;
}

.our_mission {
	display: flex;
}

.mission_paragraph {
	font-weight: 300;
	font-size: 30px;
}

.intro_img5 {
	background-image: url("founder.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.founder {
	display: flex;
	font-size: 20px;
}

.siamanda {
	padding: 20px;
	margin: 50px;
	font-weight: 600;
	text-align: left;
	padding-left: 0px;
}

.founder p {
	margin: 50px;
}

.button_orphanage {
	font-size: 25px;
	align-content: center;
	background-color: black;
	width : 500px;
	padding: 10px;
	margin: 0 auto;
}

.text_button {
	color: white;
	text-align: center;
}

span {
	font-weight: bold;
}

/*School Blazer*/

.media_school_blazer {
	margin: 50px;
}

/*Press*/

.press_section {
	padding: 50px;
}

.youtube_section {
	padding: 50px;
}
.intro_img7 {
	background-image: url("events.jpeg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*SHOP*/
.intro_img8 {
	background-image: url("shop.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.shop_section{
	font-size: 40px;
	padding: 30px;
	text-align: center;
}

/*Mobile Version*/